/*header*/
.header{position:relative;margin:0 auto;padding:2em 0 0;z-index:5000;background-repeat: no-repeat;background-position: left bottom;background-size: cover;}
.header>h1{clear:both;height:64px;width:60%;margin: 0;}
.header>h1 a{display:inline-block;}

.header>h1 a:focus{outline: 2px solid #eb6400; outline-offset: -2px;}
.header>h1 img{display:block;height:60px;margin:10px 20px 0;}
.header.fixed .menu,
.header.fixed .megaMenu{position:fixed;left:50%;width:100%;margin-left:-50%;right:0;top:0;box-shadow:rgba(0,0,0,.5) 0 0 25px;}

.header .navigation{position:absolute;right:0;top:0;}
.header .navigation ul{float:right;font-size:.87em;margin-right:12px;font-weight: 300;}
.header .navigation li{float:left;margin:0 .8em;}
.header .navigation li a{display:inline-block;height:2.15em;line-height:2.2em;padding:0 2px;text-decoration:none;}

@media screen and (max-width:1000px) {
	.header{padding:0 64px;height:64px;margin-bottom:0;background-image: none !important;}
	.header>h1{height:100%;width:auto;}
	.header>h1 a{height:100%;display:block;overflow:hidden;}
	.header>h1 img{height:80%;width: auto;margin:1.2% auto 0;}
	.header.fixed{position: fixed;top: 0;right: 0;left: 0;}


	/* 漢堡選單 */
	.sidebarCtrl{
		--tinge: #fff;
		--bgc: #199986;

		background-color: transparent;

		display:block;position:absolute;left:0;top:0;bottom:0;width:64px;height:100%;font-size:0;
		&:before, &:after{content:'';position:absolute;width:40%;}
		&:before{height:14px;border:2px solid var(--tinge);left:50%;top:50%;margin:-9px auto auto -20%;border-left:none;border-right:none;}
		&:after{content:'';position:absolute;width:40%;height:2px;top:50%;margin:-1px auto auto -20%;background:var(--tinge);}
		&:hover, &:focus{background-color: var(--bgc);}
	}


	/* 查詢開關 */
	.searchCtrl{
		--tinge: #fff;
		--bgc: #199986;

		position:absolute;right:0;top:0;width:64px;height:100%;font-size:0;
		background-color: transparent;
		&::before, &::after{content:'';position:absolute;}
		&::before{width:25px;height:25px;border:2px solid var(--tinge);border-radius:50%;left:23%;top:23%;}
		&::after{width:12px;height:4px;background:var(--tinge);transform:rotate(45deg);left:58%;top:63%;border-radius:0 2px 2px 0;}

		&.close{
			&::before, &::after{
				width:28px;height:2px;border:none;border-radius:0;
				background:var(--tinge);transform:rotate(45deg);left:50%;top:50%;margin:0 auto auto -14px;
			}
			&::after{transform:rotate(-45deg);}
		}

		&:hover, &:focus{background-color: var(--bgc);}

	}

}

@media screen and (max-width:600px){
	.header{padding:0 44px;height:44px;}

	.header .sidebarCtrl,
	.searchCtrl {width:44px;}
	.searchCtrl:before{width:20px;height:20px;left:20%;top:20%;}
	.searchCtrl:after{width:10px;left:62%;top:65%;}

	.header .sidebarCtrl:before,
	.header .sidebarCtrl:after{width:56%;margin-left:-28%}
}
